Repository jonghyo/roo-twitter: changes, and which lefthook commands are due for each by the changed paths.
All: formatting, lint, tsc, secretlint, license-check

formatting:
  run: npx prettier --write "{staged_files}"

lint:
  run: npx eslint --no-warn-ignored --max-warnings 0 {staged_files}

tsc:
  run: npx tsc --noEmit -p ./tsconfig.json

secretlint:
  run: npx secretlint --maskSecrets --secretlintignore .gitignore "{staged_files}"

license-check:
  run: . .env && npx license-checker-rseidelsohn --production --summary --excludePrivatePackages --onlyAllow "$ALLOWED_LICENSES"

docs: add architecture, plan, and requirements definition documents
  docs/architecture.md
  docs/plan.md
  docs/requirements-definition.md
Due: formatting, secretlint

feat: add TweetForm
  .storybook/main.ts
  .storybook/preview.ts
  docs/flow.md
  package-lock.json
  package.json
  src/components/features/.gitkeep
  src/components/features/TweetForm.mocks.tsx
  src/components/features/TweetForm.spec.tsx
  src/components/features/TweetForm.stories.tsx
  src/components/features/TweetForm.tsx
  src/components/ui/button.tsx
  src/components/ui/textarea.tsx
  src/store/store.ts
  src/types/tweet.ts
  src/types/user.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: formatting, lint, tsc, secretlint, license-check

feat: add TweetList
  eslint.config.mjs
  src/app/page.tsx
  src/components/features/TweetForm.tsx
  src/components/features/TweetItem.tsx
  src/components/features/TweetList.mocks.tsx
  src/components/features/TweetList.spec.tsx
  src/components/features/TweetList.stories.tsx
  src/components/features/TweetList.tsx
Due: formatting, lint, tsc, secretlint

feat: add SidebarMenu
  .clinerules
  .clinerules-architect
  .clinerules-code
  .clinerules-project-manager
  docs/architecture.md
  docs/plan.md
  docs/requirements-definition.md
  next.config.ts
  package-lock.json
  package.json
  src/__mocks__/navigation.ts
  src/app/bookmarks/page.tsx
  src/app/communities/page.tsx
  src/app/explore/page.tsx
  src/app/layout.tsx
  src/app/lists/page.tsx
  src/app/messages/page.tsx
  src/app/notifications/page.tsx
  src/app/premium/page.tsx
  src/app/profile/page.tsx
  src/components/features/TweetForm.mocks.tsx
  src/components/features/TweetForm.stories.tsx
  src/components/features/TweetList.tsx
  src/components/layout/PageHeader.tsx
  src/components/layout/sidebar/Sidebar.tsx
  src/components/layout/sidebar/SidebarIcon.tsx
  src/components/layout/sidebar/SidebarItem.tsx
  src/components/layout/sidebar/SidebarNav.tsx
  src/components/ui/card.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/sheet.tsx
  src/instrumentation.ts
  src/store/store.ts
  src/types/navigation.ts
Due: formatting, lint, tsc, secretlint, license-check

Update dependabot.yml
  .github/dependabot.yml
Due: formatting, secretlint

Update dependabot.yml (#52)
  .github/dependabot.yml
Due: formatting, secretlint

Path conditions:
  formatting: any of: *.{js,ts,jsx,tsx,md,mdx,json,yml}
  lint: any of: *.{js,ts,jsx,tsx}
  tsc: any of: *.{js,ts,jsx,tsx}
  secretlint: any of: *
  license-check: any of: package-lock.json
